.content_detail{
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.cards{
    padding: 1rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--content-overlay);
}
.detail{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 12px;

}
.detail h4{
    text-transform: capitalize;
}
